// メッセージ機能の部分テンプレート
.chat-space
  %ul.chates
    %li.chates__list
      %p.chates__list__user{style: "display:inline;"} test太郎
      %p.chates__list__time{style: "display:inline;"} 2018/03/20 12:10
      %p.chates__list__message こんにちは
    %li.chates__list
      %p.chates__list__user{style: "display:inline;"} てすと次郎
      %p.chates__list__time{style: "display:inline;"} 2018/03/20 12:12
      %p.chates__list__message お昼ご飯どうします？