/サイドバー内グループ情報の部分テンプレート
.side-group-info
  - current_user.groups.each do |group|
    %h2.side-group
      = link_to "#{group.name}", root_path, class: "font-style"
    %p.side-chat
      = link_to "まだメッセージはありません", root_path, class: "font-style"