/サイドバー内グループ情報の部分テンプレート
.side-group-info
  %h2.side-group
    = link_to "testグループ１", root_path, class: "font-style"
  %p.side-chat
    = link_to "こんにちは", root_path, class: "font-style"
  %h2.side-group
    = link_to "testグループ２", root_path, class: "font-style"
  %p.side-chat
    = link_to "こんばんは", root_path, class: "font-style"