// メッセージ表示部分
.chates{
	&__list{
    padding-top:46px;
    &__user{
    	font-size: 16px;
    	font-weight: bold;
    	color: $color-dark-gray;
    }
    &__time{
    	padding-left: 10px;
    	font-size: 12px;
    	color: $color-gray;
    }
    &__message{
    	padding-top: 10px;
    	font-size: 14px;
    	color: $color-dark-gray;
    }
  }
}