.flash-function {
  .notice {
    background-color: $color-light-blue;
    color: $color-white;
    text-align: center;
  }

  .alert {
    background-color: $color-orange;
    color: $color-white;
    text-align: center;
  }
}