$color-white: #FFFFFF; //色指定
$color-dark-ultramarine: #253141; //色指定
$color-ultramarine: #2f3e51; //色指定
$color-gray: #999999; //色指定
$color-white-gray: #FAFAFA; //色指定
$color-light-gray: #DDDDDD; //色指定
$color-dark-gray: #434A54; //色指定
$color-light-black: #333333; //色指定
$color-light-blue: #38AEF0; //色指定
